name: Deploy ke Heroku

on:
  workflow_dispatch:  # hanya berjalan jika dipanggil lewat startdeploy

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy ke Heroku
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
          git clone https://heroku:${{ secrets.HEROKU_API_KEY }}@git.heroku.com/herta.git
          cd herta
          rsync -av --exclude=.git ../ .
          git add .
          git commit -m "Deploy via GitHub Actions"
          git push https://heroku:${{ secrets.HEROKU_API_KEY }}@git.heroku.com/herta.git HEAD:main
