steps:
  - name: Checkout
    uses: actions/checkout@v3

  - name: Setup Heroku CLI
    run: curl https://cli-assets.heroku.com/install.sh | sh

  - name: Login to Heroku
    run: echo ${{ secrets.HEROKU_API_KEY }} | heroku auth:token

  - name: Push Docker to Heroku
    run: |
      echo ${{ secrets.HEROKU_API_KEY }} | docker login --username=_ --password-stdin registry.heroku.com
      docker build -t registry.heroku.com/herta/web .
      docker push registry.heroku.com/herta/web

  - name: Release to Heroku
    run: heroku container:release web --app herta
